/*
 * mykeyboard.keymap
 * 30 keys + 2 rotary encoders (ENC0: row3/col0, ENC1: row6/col1)
 * Generated for use with keymap-editor (nickcoutsos.github.io/keymap-editor)
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        rot_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEFAULT";

            // 通常キー30個のbindings
            // 順序はinfo.jsonのlayout配列と一致させること
            // type:encoder のキー（ENC0, ENC1）はbindingsに含めない

            bindings = <
&kp KP_NUM  &kp LPAR   &kp RPAR      &kp EQUAL
&kp A       &kp B      &kp C         &kp SLASH     &kp STAR    &kp MINUS  &kp COPY  &kp KP_N7
&kp KP_N8   &kp KP_N9  &kp KP_PLUS   &kp LC(PLUS)  &kp KP_N4
&kp KP_N5   &kp KP_N6  &kp ALL       &kp TAB       &kp KP_N1
&kp KP_N2   &kp KP_N3  &kp KP_ENTER  &kp KP_N0     &kp KP_DOT
&kp F4      &kp UP     &kp LEFT
&kp DOWN    &kp RIGHT
&kp F1      &kp F2     &kp F3
            >;

            sensor-bindings = <
                &rot_kp C_VOL_DN C_VOL_UP   // ENC0（左上）: 音量
                &rot_kp PG_DN    PG_UP       // ENC1（右下）: ページ
            >;
        };
    };
};
